* {
  margin: 0;
  font-family: Arial;
}

.navbar {
  width:100%;
  position: fixed;
  background-color: white;
  color: black;
}

.nav1 {
  padding-left: 20px;
  font-size: 10.5px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.nav1 p {
  padding-left: 10px;
  padding-right: 10px;
}

#p11 {
  margin-left: 300px;
  padding-left: 40px;
}

.nav2 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav2a {
  display: flex;
  align-items: center;
}

.HeaderImage1 {
  width: 187px;
  height: 57px;
}

.HeaderImage2 {
  width: 112px;
  height: 28px;
  padding-left: 16px;
}

.nav2b {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.searchBar {
  width: 400px;
  height: 32px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 6px;
}

.nav2b2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 12px;
}

.nav2b2 a {
  color: #000042;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin-left: 18px;
}

.nav3 {
  height: 60px;
  background-color: #fbf9f7;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav3a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav3a a {
  padding-right: 10px;
}

.nav3b {
  display: flex;
  margin-left: 55px;
}

.HeaderImages {
  width: 45px;
  height: 20px;
}

.midBody {
  height: fit-content;
  padding-top: 145px;
}

.box {
  height: 180px;
  background-color: white;
  margin-bottom: 5px;
}

.sect1 {
  background-color: #f5f5f5;
  display: flex;
  height: 155px;
  margin-left: 15px;
  justify-content: space-evenly;
}

.cards {
  background-color: white;
  width: 175px;
  height: 130px;
  margin: 12px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.mainicon {
  width: 158px;
  height: 80px;
  padding: 8px;
}

.cards p {
  color: #8a8888;
  text-align: center;
  justify-content: center;
}

.sect2 {
  height: 300px;
}

.bigImage {
  width: 100%;
  height: 300px;
}

.sect3 {
  height: 185px;
}

.mySlides {
  width: 100%;
  height: 185px;
}

.sect4 {
  height: 255px;
  display: flex;
  margin-top: 50px;
}

.trends {
  width: 20%;
  height: 245px;
  margin-left: 70px;
  margin-top: 15px;
}

#t1 {
  font-size: 50px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#t2 {
  font-size: 50px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.banner {
  margin-right: 55px;
}

.banner img {
  width: 160px;
  height: 75px;
}

.card-text {
  text-align: center;
  margin-bottom: 15px;
}

.btn {
  color: white;
  background-color: #56b7c3;
  margin-left: 10px;
  padding: 12px 45px;
  font-size: 16px;
  border: 1px transparent;
  border-radius: 5px;
}

.sect5 {
  height: 400px;
  margin-top: 20px;
}

h4 {
  font-family: Jost, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
  text-align: center;
  margin-bottom: 30px;
}

.sect5 img {
  width: 100%;
  height: 320px;
}

.sect6 {
  height: 380px;
  margin-top: 30px;
}

.sect6 img {
  width: 100%;
  height: 300px;
}

.sect7 {
  height: 600px;
  margin-top: 25px;
}

.first2 .last2 {
  display: flex;
}

.lastImgs img {
  width: 46%;
  height: 250px;
  margin-left: 36px;
}

.foot1 {
  background-color: rgb(0,0,66);
  color: #fcfcfc;
  height: 270px;
  font-size: 15px; 
  padding: 35px 48px;
}

.foot1 h1 {
  font-weight: 100;
  padding-bottom: 20px;
}

.foot1 p {
  line-height: 20px;
}

.foot1 a {
  color: #329c92;
}

.foot2 {
  background-color: rgb(0,0,66);
  color: #fcfcfc;
  height: 220px;
  display: flex;
  font-size: 14px;
}

.foot2 h1 {
  font-weight: 100;
}

.foot2a {
  display: flex;
  margin-left: 10px;
  margin-right: 500px;
}

.foot2a ul p {
  margin-top: 20px;
}

.foot2b {
  width: 300px;
  font-size: 15px;
}

.foot2b p {
  text-align: center;
  line-height: 22px;
  padding-right: 72px;
}

.foot2b1 {
  display: flex;
  padding-bottom: 25px;
}

.line {
  background-color: #000042;
}

hr {
  color: white;  
  margin: 0px 45px;
}

.foot3 {
  background-color: rgb(0,0,66);
  color: #fcfcfc;
  height: 70px;
  display: flex;
}

.foot3a {
  width: 25%;
  display: flex;
  font-size: 17px;
  margin-left: 50px;
  margin-right: 300px;
  align-items: center;
  justify-content: space-between;
}

.foot3b {
  width: 30%;
  display: flex;
  font-size: 18px;
  margin-left: 180px;
  align-items: center;
  justify-content: space-evenly;
}